<html>
  <!-- TODO: rename to be index.html -->
<head>
  <title>From Here to There</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Tooltips Popper -->
  <script scr="https://unpkg.com/@popperjs/core@2"></script>

  <!-- vue2 Leaflet -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"></link>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="https://unpkg.com/vue2-leaflet@1.0.1/dist/vue2-leaflet.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"></link>
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

  <!-- Map Routing -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <!-- <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script> -->
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

   <!-- Jquery and Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style/index.css">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="src/favicon.png" />



</head>

<body>

<!-- app id -->
<div id="app">

<!-- INDEX ------------------------------------------------------------------------------------------------>
<div v-if="onIndexPage" class="index_page">
  <!-- body -->
  <div class="container">
      
    <div class="row"> 
      <img alt="logo image" src="src/logo.png" class="img-fluid" />
    
      <button type="button" class="btn btn-primary mt-4" @click="switchPage('join')">
        <h1>Join a Hunt!</h1>
      </button>

      <button type="button" class="btn btn-primary mt-4" @click="switchPage('create')">
        <h1>Make a New Hunt!</h1>
      </button>
    </div> <!-- row -->    
  </div> <!-- container -->
</div>
<!-- CREATE ------------------------------------------------------------------------------------------------>
<div v-if="onCreatePage" class="create_page">
    <span><i class="bi bi-arrow-left-circle-fill backbutton" @click="goBack()"></i></span>
    <div class="container align-items-center text-center app">
        <!-- title -->
        <div class="mb-2">
          <h1>
              <!-- Icon Dropdown -->
              <div class="row justify-content-md-center" >
              <div class="dropdown col-md-auto" >
                  <button v-if="iconSelected" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Select an Icon:
                  </button>
                  <button v-else class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Select an Icon:
                  </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="max-height: 230px; overflow-y: scroll;">
                      <li v-for="icon in icons">
                        <a class="btn dropdown-item" :class="{'btn-primary' : icon.selected}" href="#" :id="icon.name" v-on:click="selectIcon(icon.name)"><img :src="icon.src" style="width:40px; pointer-events: none;"></a>
                      </li>
                    </ul>
                
              </div>

              <!-- Selected Icon -->
              <div class='col-md-auto' v-show="iconSelected">
                  <img  v-bind:src="currHunt.iconSrc" style="width:40px; justify-content: left; padding: 0px;">
              </div>
</div>
              <!-- title -->
              <div class="row justify-content-md-center">
              <div class="col-sm-6">
                <form class="needs-validation row" id="titleform" style="align-items: center;" novalidate>
                  <label for="title" class="col-5 col-form-label">Title: 
                    <span style="color: red;">*</span>
                    </label>
                  <div class="col-7">
                      <input type="text" class="form-control" id="title" name="title" v-model="currHunt.title" placeholder="Add a title here!" v-on:keydown.enter.prevent required>
                      <!-- <div class="invalid-feedback">
                        Please give your hunt a title.
                      </div> -->
                  </div>
                  </form>
              </div>
                  </div>
          </h1>

          <div class="instructions">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseInstructionMake" role="button" aria-expanded="false" aria-controls="collapseInstructionMake">
              <h2><i class="bi bi-info-circle"></i> &nbsp;Instructions:</h2>
            </a>
            <div class="collapse" id="collapseInstructionMake">
              <div class="card card-body accordion-body"> 
                <ul>
                  <li>Add a title and icon to represent your hunt above</li>
                  <li>On the left, you can view your route and set a time limit</li>
                  <li>On the right, you can add, edit, and delete stops</li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- row -->

        <div class="row justify-content-md-center">
            <!-- map -->
            <div id="map-div" class="blue_border col-sm-6">
              <h2>Time Limit</h2>
              <div id="timelimit" style="display:flex; flex-direction: row;">
                <form class="needs-validation row mt-2" id="timeform" novalidate>
                  <div class="col-2 col-sm-6 col-md-2 mb-sm-2">
                    <label for="hours">Hr:</label>
                  </div>
                  <div class="col-4 col-sm-6 col-md-4 p-0 mb-sm-2">
                  <select v-model="select_hrs" class="form-select" id="hours" style="width: 100px;" required>
                    <option selected="true" disabled="disabled" v-bind:value="null">-</option>
                    <option v-bind:value="0">0</option>
                    <option v-bind:value="1">1</option>
                    <option v-bind:value="2">2</option>
                    <option v-bind:value="3">3</option>
                    <option v-bind:value="4">4</option>
                    <option v-bind:value="5">5</option>
                    <option v-bind:value="6">6</option>
                    <option v-bind:value="7">7</option>
                    <option v-bind:value="8">8</option>
                    <option v-bind:value="9">9</option>
                    <option v-bind:value="10">10</option>
                  </select>
                </div>
                  <div class="col-2 col-sm-6 col-md-2">
                  <label for="minutes">Min:</label>
                  </div>
                  <div class="col-4 col-sm-6 col-md-4 p-0">
                  <select v-model="select_min" class="form-select" style="width: 100px;" id="minutes" required>
                    <option selected="true" disabled="disabled" v-bind:value="null">-</option>
                    <option v-bind:value="0">0</option>
                    <option v-bind:value="5">5</option>
                    <option v-bind:value="10">10</option>
                    <option v-bind:value="15">15</option>
                    <option v-bind:value="20">20</option>
                    <option v-bind:value="25">25</option>
                    <option v-bind:value="30">30</option>
                    <option v-bind:value="35">35</option>
                    <option v-bind:value="40">40</option>
                    <option v-bind:value="45">45</option>
                    <option v-bind:value="50">50</option>
                    <option v-bind:value="55">55</option>
                  </select>
                </div>
                </form>
              </div>
                <div class="mapclass">
                  <l-map :zoom="mapConfig.zoom" :center="mapConfig.center" ref="mymapMake" id="mymapMake">
                    <l-tile-layer :url="mapConfig.url" :attribution="mapConfig.attribution"></l-tile-layer>
                  </l-map>
                </div>
                <div v-if="showExpected">
                  <h3>This route is {{currHunt.markerDistance}} miles long.</h3>
                  <h3>By foot, it will take ~{{currHunt.expectedTime}} minutes.</h3>
                </div>
    
                <!-- </div> -->
                
            </div> <!-- map -->
    
            <!-- form -->
            <div class="form col-sm-6 mt-sm-0 mt-2">
              <!-- hint accordion -->
              <div class="accordion mt-4" id="accordionExample">
              <div :id="'accordion-item-'+i" class="accordion-item" draggable="true" v-for="(c, i) in currHunt.stops">
                <div class="accordion-header" v-bind:id="'header'+i">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" v-bind:data-bs-target="'#collapse'+i" aria-expanded="false" v-bind:aria-controls="'collapse'+i" style="align-items: center; padding-left:40px; " @click="setActiveStop(i)">
                    <p style="display: flex; margin-left:40px; justify-content: space-between; width: 100%; align-items: center; align-content: center;">
                      <span style="float:left;"> 
                                            #{{i + 1}} - {{c.answer}}
                      </span> 
                      <span style="float:right; color:red" v-on:click="deleteStop(i)"><i class="bi bi-trash"></i>
                    </span></p>
                  </button>
                  <div class="position-relative" style="left:10px; top: -50px; z-index:1000; color: rgba(50, 134, 243, 0.8); width: fit-content; height: 0px;">
                    <i class="moveup bi bi-arrow-up-circle" @click="moveStopUp(i, $event)"></i> 
                    <i class="movedown bi bi-arrow-down-circle" @click="moveStopDown(i, $event)"></i> 
                  </div>
                </div>
                <div v-bind:id="'collapse'+i" class="accordion-collapse collapse" v-bind:aria-labelledby="'header'+i" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <form :id="'form'+i" class="needs-validation row mt-3" novalidate>
                      <label :for="'answer'+i" class="col-sm-2 mt-2 col-form-label">Go to: 
                      <span style="color: red;">* </span>
                      <span data-toggle="tooltip" data-trigger="hover click" title="Nickname of your destination - what your players will guess." class="bi bi-info-circle static"><span>
                    </label>               
                      <div class="col-sm-10">
                          <input type="text" class="form-control mt-2" :id="'answer'+i" v-model="c.answer" placeholder="Stop Name (e.g. Hatcher)"  v-on:keydown.enter.prevent v-on:blur="searchLocation(c.answer)" required>
                          <div class="invalid-feedback mb-2">
                              Please provide a stop name.
                          </div>
                      </div>
              
                      <label :for="'location'+i" class="col-sm-2 mt-2 col-form-label">Map Location:
                        <span style="color: red;">*</span>
                        <span data-toggle="tooltip" data-trigger="hover click" title="Which building or location is this stop in or at?" class="bi bi-info-circle static"><span>
                      </label>
                        <div class="col-sm-10">
                          <div class="input-group input-group-sm-2 mt-2">
                              <input type="search" class="form-control rounded" placeholder="Search for Location" aria-label="Search"
                              aria-describedby="search-addon" v-model="c.location" v-on:keyup.enter="searchLocation(c.location)" style="border-radius: 0.25em 0 0 0.25em !important;" v-on:keydown.enter.prevent required>
                              <div class="input-group-append" >
                                <button class="btn btn-secondary" type="button" style="height: 100%; border-radius: 0 0.25em 0.25em 0 !important;" @click="searchLocation(c.location)"><i class="bi bi-search"></i></button>
                              </div>
                            <div :id="'loc-error-'+i" class="invalid-feedback mb-2">
                              Please search for and select a location from the dropdown.
                          </div>
                            </div>
                            <div>
                              <div id="'loc-'+i">
                                <button type="button" v-for="(loc, j) in c.possibleLocations" class="dropdown-item possible-location" id="'loc-'+i+'-'+j" @click="setLocation(i, j); return false;"><p>{{loc.name}}</p></button>
                              </div>
                              <div id="'no-results'+i" v-if="c.noLocationResults">
                                <div class="alert alert-danger" role="alert">No search results. Make sure the location is spelled correctly and is in Ann Arbor.</div>
                              </div>
                            </div>
                      </div>
              
                      <label :for="'clue'+i" class="col-sm-2 mt-2 col-form-label">Clue: 
                        <span style="color: red;">*</span>
                        <span data-toggle="tooltip" data-trigger="hover click" title="Give your players an initial clue of how to get there!" class="bi bi-info-circle static"><span>
                        </label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control mt-2" :id="'clue'+i" v-model="c.clue" placeholder="e.g. Where do the graduate students study?" v-on:keydown.enter.prevent required>
                          <div class="invalid-feedback mb-2">
                              Please provide a clue.
                          </div>
                      </div>
              
                      <label :for="'hint'+i" class="col-sm-2 mt-2 col-form-label">Hint:
                        <span style="color: red;">*</span>
                        <span data-toggle="tooltip" data-trigger="hover click" title="Another hint, in case your players get stuck." class="bi bi-info-circle static"><span>
                      </label>
                      <div class="col-sm-10">
                      <input type="text" class="form-control mt-2" :id="'hint'+i" v-model="c.hint" placeholder="e.g. It starts with 'hat'." v-on:keydown.enter.prevent required>
                      <div class="invalid-feedback mb-2">
                        Please provide a hint.
                    </div>
                    </div>
              
                      <label :for="'task'+i" class="col-sm-2 mt-2 col-form-label">Task: 
                        <span style="color: red;">*</span>
                        <span data-toggle="tooltip" data-trigger="hover click" title="What should your players do once there?" class="bi bi-info-circle static"><span>
                        </label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control mt-2" :id="'task'+i" v-model="c.task" placeholder="e.g. Take a photo in the stacks." v-on:keydown.enter.prevent required>
                          <div class="invalid-feedback mb-2">
                              Please provide a task.
                          </div>
                      </div>

                      <label :for="'points'+i" class="col-sm-2 mt-2 col-form-label">Points: 
                        <span data-toggle="tooltip" data-trigger="hover click" title="How many points should be awarded?" class="bi bi-info-circle static"><span>
                        </label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control mt-2" :id="'points'+i" v-model="c.points">
                      </div>
              
                      <div class="col-sm-12 mt-3" style="display:flex; width:100%; justify-content: center; align-items: center;">
                        <h2><button class="btn btn-primary" type="button" @click="validateForm('#form'+i)">Save Stop</button></h2>
                      </div>
                    </form>                  
                  </div>
                </div>
              </div>
            </div> <!-- accordion -->
    
    <!-- button -->
    <div class="row align-items-center">            
    <button type="button" class="btn btn-primary mt-4" @click="addStop">
                  <h1 id="addStopBtn">Add New Stop</h1>
                </button>
              </div> <!-- button -->
              
            </div> <!-- form -->
        </div> <!-- row -->
    <div v-show="currHunt.errorString" class="alert alert-danger" role="alert" id="errorMessage">
            <h2>Please fix the following errors:</h2>
            <ul>
              <p v-html="currHunt.errorString"></p>
            </ul>
          </div>

        <!-- publish -->
        <div class="row"> 
          <button id="publish" type="button" class="btn btn-primary mt-4" @click="publish">
            <h1>Publish</h1>
          </button>
        </div> <!-- row -->
      </div> <!-- container -->
    
</div>
<!-- JOIN ------------------------------------------------------------------------------------------------>
<div v-if="onJoinPage" class="join_page">
    <span><i class="bi bi-arrow-left-circle-fill backbutton" @click="goBack()"></i></span>
    <div class="container align-items-center text-center">
        <!-- title -->
        <div class="blue_border row join_header"> 
          <h1>Pick a scavenger hunt!</h1>
        </div> <!-- title -->
    
        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Hunt Name</th>
              <th scope="col">Points</th>
              <th scope="col">Time Taken</th>
              <th scope="col">Est. Time</th>
              <th scope="col">Est. Dist</th>
            </tr>
          </thead>
          <tbody v-for="h in this.allHunts">
            <tr v-if="!h.completed && !h.started" key="h.title"  id="h.id" @click="switchPage('play', h.id)">
              <th scope="row"><img :src="h.iconSrc" class="icon"/></th>
              <td><p>{{h.title}}</p></td>
              <td><p>--</p></td>
              <td><p>--</td>
              <td><p>{{h.timeLimit}} mins</p></td>
              <td><p>{{h.expectedDistance}} mi</p></td>
            </tr>
            <tr v-else-if="h.completed" key="h.title"  id="h.id" @click="switchPage('play', h.id)">
              <th scope="row"><img :src="h.iconSrc" class="icon"/></th>
              <td><p>{{h.title}} <span class='text-success'>(Completed!)</span></p></td>
              <td><p>{{h.finalStats.numPoints}} pts</p></td>
              <td><p>{{h.finalStats.timeTaken}} mins</p></td>
              <td><p>{{h.timeLimit}} mins</p></td>
              <td><p>{{h.expectedDistance}} mi</p></td>
            </tr>
            <tr v-else key="h.title"  id="h.id" @click="switchPage('play', h.id)">
              <th scope="row"><img :src="h.iconSrc" class="icon"/></th>
              <td><p>{{h.title}} <span class='text-danger'>(Started!)</span></p></td>
              <td><p>{{h.inProgress.numPoints}} pts</p></td>
              <td><p>{{h.inProgress.timeSoFar}} mins</p></td>
              <td><p>{{h.expectedTime}} mins</p></td>
              <td><p>{{h.expectedDistance}} mi</p></td>
            
            </tr>
          </tbody>
        </table>
        </div>
      </div> <!-- container -->
</div>
<!-- PLAY ------------------------------------------------------------------------------------------------>
<div v-if="onPlayPage" class="play_page">
    <span><i class="bi bi-arrow-left-circle-fill backbutton" @click="goBack()"></i></span>
    <div class="container align-items-center text-center">
        <!-- title -->
        <div class="mb-2">
          <h1>
            <img alt="logo" :src="currHunt.iconSrc" class="photo icon" />
            {{currHunt.title}}
            <br>
            <div v-if="!currHunt.completed" class="row justify-content-md-center">
              <div class="col-sm-auto">
              Time Remaining: {{currHunt.timeLimit - currHunt.inProgress.timeSoFar}} mins
              </div>
              <div class="col-sm-auto text-white blue_color">
                Points: {{currHunt.inProgress.numPoints}}  
              </div>
                <div class="col-sm-auto">
              Stop: {{currHunt.inProgress.currStopId + 1}} / {{currHunt.stops.length}}
              </div>
            </div>
            <div v-else class="row justify-content-md-center">
              <div class="col-sm-auto">
              Time Taken: {{currHunt.finalStats.timeTaken}} mins
              </div>
              <div class="col-sm-auto">
              Points: {{currHunt.finalStats.numPoints}}
              </div>
            </div>
          </h1>
          
          <div v-if="!currHunt.completed" class="Instructions">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseInstructionMake" role="button" aria-expanded="false" aria-controls="collapseInstructionMake">
              <h2><i class="bi bi-info-circle"></i> &nbsp;Instructions:</h2>
            </a>
            <div class="collapse" id="collapseInstructionMake">
              <div class="card card-body accordion-body"> 
                <ul>
                  <li>Reveal the next destination on the map by typing in the answer to the clue and pressing SUBMIT</li>
                  <li>If you need a hint, tap the HINT button</li>
                  <li>If you still can't figure it out, click NUCLEAR to deduct 50pts and reveal the answer</li>
                  <li>The time remaining is displayed above</li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- row -->
    
        <div v-if="!currHunt.completed" class="row">
          <!-- map -->
          <div id="map-div" class="blue_border col-sm-6">
            <div class="mapclass">
              <l-map :zoom="mapConfig.zoom" :center="mapConfig.center" ref="mymapGuess" id="mymapGuess">
                <l-tile-layer :url="mapConfig.url" :attribution="mapConfig.attribution"></l-tile-layer>
              </l-map>
            </div>
            <h3> {{currHunt.markerDistance}} mi</h3>
    
            <!-- </div> -->
            <br>
          </div> <!-- map -->
    
          <!-- clue -->
          <div v-if="!currHunt.inProgress.correct" class="form col-sm-6 mt-2 mt-sm-0 align-items-center text-center">
              <h1>
                Clue #{{currHunt.inProgress.currStopId + 1}} ({{currStop.points}} pts)
                <br>
                {{currStop.clue}}
                <br>
                <p v-if="currHunt.inProgress.hintClicked">
                  {{currStop.hint}}
                </p>
                <!-- based on https://stackoverflow.com/questions/26324252/html-keep-placeholder-when-user-types -->
                <div class="placeholder" :data-placeholder="placeholder">
                  <input class="guess" :maxlength="answerLength" :size="answerLength" v-model="currHunt.inProgress.guessText" @keyup.enter="makeGuess" @input="updateGuess" />  
                </div>
                <p v-if="currHunt.inProgress.tryAgain">
                  <img src="src/tryagain.png">
                  <br>
                  Try again!
                </p>
              </h1>

              <button type="button" class="btn btn-primary mt-4" @click='makeGuess'>
                <h1>Submit</h1>
              </button>
              <br>
    
              <button v-if="!currHunt.inProgress.hintClicked" type="button" class="btn btn-primary mt-4" @click='showHint'>
                <h1>Hint</h1>
              </button>
              <button v-else type="button" class="btn btn-primary mt-4" disabled>
                <h1>Hint</h1>
              </button>
    
              <br>
              <button type="button" class="btn btn-primary mt-4" @click="pressNuclear">
                <h1>Nuclear (-50pts)</h1>
              </button>
          </div> <!-- form -->
          <div v-else class="form col-sm-6 mt-2 mt-sm-0 align-items-center text-center">
            <h1>
              Go to
              <br>
              <span class="keep-spaces">{{convertAnswerToCaps(currStop.answer)}}</span>
              <br>
              and 
              <br>
              {{currStop.task}}
              <br>
    
            </h1>
            <h1>Submit Evidence:</h1>
            <button type="button" class="btn btn-primary mt-4">
              <input type="file" id="evidence" @change="prepareEvidence($event.target.files)" accept="image/png, image/jpeg">
              <br>
              <input v-if="tempImg" type="submit" @click="nextClue">
              <input v-else type="submit" @click="nextClue" disabled>
            </button>
          </div>
        </div>
        <div class="evidence">
          <h1>
            Evidence Gathered: {{currHunt.inProgress.evidence.length}}
          </h1>
          <br>
          <br>
          <div v-if="currHunt.inProgress.evidence.length > 0">
            <div v-for="(imgUrl, i) in currHunt.inProgress.evidence">
              <img class="evidenceImg" :src="imgUrl" />
            </div>
          </div>
          <div v-else>
            <h2>
              No evidence gathered yet
            </h2>
          </div>
          <br>
          <br>
        </div>
      </div> <!-- container -->
</div>
<!-- app id -->
</div>
<!-- footer -->
<footer>
    <div class="container-fluid align-items-center text-center">
      <div class="row">
        <div class="col-sm-12">
          <p>Made with ❤ in Ann Arbor, Michigan.<br> Copyright © 2021 The Scavengers. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer> <!-- footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- <script src="scripts/confetti.js"></script> -->
<script src="scripts/page.js"></script>
</body>
</html>